{% extends "personal/header.html" %}

{% block content %}
<div class="text1">
	<p>EAGLES GROUP COMPANY - Основно дейностиte на компанията са свързани със сферата на застраховането</p>

	<p>Компанията предлага всякакъв вид застраховане - автомобило, живото, имуществено</p>
</div>
<br/>
 <div class="row" style='clear: both;'>
<div class="col-sm-3">
				  <br>
				  <center>
					<a href="/insurance/1/"><img src="static/personal/img/download (1).jpg" class="responsive-img" style='max-height:150px;' alt="Auto Insurance"/></a>
				  </center>
			  </div>
			  
<div class="col-sm-3">
				  <br>
				  <center>
					<a href="/insurance/2/"><img src="static/personal/img/feature.jpg" class="responsive-img" style='height:150px;' alt="Property Insurance"></a>
				  </center>
			  </div>
			 
<div class="col-sm-3">
				  <br>
				  <center>
					<a href="/insurance/3/"><img src="static/personal/img/index.jpeg" class="responsive-img" style='height:150px;' alt="Travel Insurance"></a>
				  </center>
			  </div>
			  
<div class="col-sm-3">
				  <br>
				  <center>
					<a href="/insurance/4/"><img src="static/personal/img/cargoIns.jpeg" class="responsive-img" style='height:150px;' alt="Kargo and Shipment Insurance"></a>
				  </center>
				</div>
				<br/>
				<br/>
<div class="col-sm-3">
				  <br>
				  <center>
					<a href="/insurance/5/"><img src="static/personal/img/tractor.jpg" class="responsive-img" style='height:150px;' alt="Agricultural Insurance"></a>
				  </center>
			  </div>
			 
<div class="col-sm-3">
				  <br>
				  <center>
					<a href="/insurance/6/"><img src="static/personal/img/73041_300_225.jpg" class="responsive-img" style='max-height:150px;' alt="Life Insurance"></a>
				  </center>
			  </div>
<div class="col-sm-3">
				  <br>
				  <center>
					<a href="/insurance/7/"><img src="static/personal/img/financial image.png" class="responsive-img" style='max-height:150px;' alt="finance"></a>
				  </center>
			  </div>
			</div>  
			<br/>
			<br/>
			<br/>

		    <div class="row">
<div class="col-sm-9" style="color: white;">			
				<p>В УСЛУГИТЕ ВСИЧКО Е ВЪПРОС НА ДОВЕРИЕ. ДОВЕРИЕ В СИЛИТЕ НА ЕДНА ОРГАНИЗАЦИЯ ИЗГРАДИЛА СВОЕТО ИНДИВИДУАЛНО ЛИЦЕ. НИЕ РАЗБИРАМЕ КОЕ Е УНИВЕРСАЛНО ЗА НАС КАТО ХОРА И СЕ ГРИЖИМ ЗА УНИКАЛНОТО ВЪВ ВСЕКИ ЕДИН ОТ НАС!</p>
			</div>
			</div>

<!-- {% include "personal/includes/htmlsnippet.html" %} -->
{% endblock %}