{% block content %}
<p><div style="color: white;">Компанията предлага всякакъв вид застраховане - автомобило, живото, имуществено</div></p>
<br/>
 <div class="row">
<div class="col-sm-4">
				  <br>
				  <center>
					<a href="/insurance/auto/"><img src="static/personal/img/download (1).jpg" class="responsive-img" style='max-height:170px;' alt="face"/></a>
				  </center>
			  </div>
<div class="col-sm-4">
				  <br>
				  <center>
					<a href="/insurance/life/"><img src="static/personal/img/73041_300_225.jpg" class="responsive-img" style='max-height:170px;' alt="face"></a>
				  </center>
			  </div>
<div class="col-sm-4">
				  <br>
				  <center>
					<a href="/insurance/property/"><img src="static/personal/img/feature.jpg" class="responsive-img" style='height:170px;' alt="face"></a>
				  </center>
			  </div>	

			</div>  
			<br/>
			<br/>
			<br/>

		    <div class="row">
<div class="col-sm-9" style="color: white;">			
				<p>В УСЛУГИТЕ ВСИЧКО Е ВЪПРОС НА ДОВЕРИЕ. ДОВЕРИЕ В СИЛИТЕ НА ЕДНА ОРГАНИЗАЦИЯ ИЗГРАДИЛА СВОЕТО ИНДИВИДУАЛНО ЛИЦЕ. НИЕ РАЗБИРАМЕ КОЕ Е УНИВЕРСАЛНО ЗА НАС КАТО ХОРА И СЕ ГРИЖИМ ЗА УНИКАЛНОТО ВЪВ ВСЕКИ ЕДИН ОТ НАС!</p>
			</div>
			</div>
{% endblock %}