{% extends "personal/header.html" %}

{% block content %}

<p><div style="color: white;"><b>EAGLES GROUP COMPANY - Видове застраховки:</b></div></p>
<br/>
<div class="row">
		  <div class="col-sm-4">
		  <br>
<div class="well bs-sidebar" id="sidebar" style="background-color: #b1dff2;">
<ul class="nav nav-pills nav-stacked">
	<li><a href="/insurance/1/"><span class="menu_text">Aвтомобилно застраховане</span></a></li>
    <li><a href="/insurance/2/"><span class="menu_text">Имуществено застраховане</span></a></li>
    <li><a href="/insurance/3/"><span class="menu_text">Застраховка помощ при пътуване</span></a></li>  
    <li><a href="/insurance/4/"><span class="menu_text">Застраховка при товари и карго</span></a></li>
	<li><a href="/insurance/5/"><span class="menu_text">Селско стопански застраховки</span></a></li>
    <li><a href="/insurance/6/"><span class="menu_text">Живот</span></a></li>
    <li><a href="/insurance/7/"><span class="menu_text">Финанси</span></a></li>

    
</ul>
</div>
</div>
</div>
{% endblock %}